# List Comprehension

24학번 석사과정 신수경 (2024191004)

In [3]:
number_list= []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5) 

number_list

[1, 2, 3, 4, 5]

In [5]:
number_list= []
for number in range(1, 6):number_list.append(number)
    
number_list

[1, 2, 3, 4, 5]

In [7]:
number_list= list(range(1, 6))

number_list

[1, 2, 3, 4, 5]

In [9]:
number_list= [number for number in range(1,6)]

number_list

[1, 2, 3, 4, 5]

In [11]:
number_list= [number-1 for number in range(1,6)]

number_list

[0, 1, 2, 3, 4]

In [13]:
a_list= [number for number in range(1,6) if number % 2 == 1]

a_list

[1, 3, 5]

In [15]:
a_list= []
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)

a_list

[1, 3, 5]

In [17]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']
#함수적용
[word.lower() for word in sentence]

#조건적용
[word for word in sentence if len(word) > 6]

#함수적용하여튜플로저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [19]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [21]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [23]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [25]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(letter_counts)

{'r': 1, 'e': 2, 's': 1, 't': 2, 'l': 1}

In [27]:
a_set = {number for number in range(1,6) if number % 3 == 1}
print(a_set)

{1, 4}

In [29]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [31]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
print(list( zip(english, french) ))

dict( zip(english, french) )
print(dict( zip(english, french) ))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [33]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [35]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [37]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [39]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [41]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [43]:
# dessert 값을 입력한 경우
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [45]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

menu(100) # 1 위치 인자
print(menu(100))
menu(price=100) # 1 키워드 인자
print(menu(price=100))
menu(price=120, entree='beef') # 2 키워드 인자
print(menu(price=120, entree='beef'))
menu(dessert='bagel', price=110) # 2 키워드 인자
print(menu(dessert='bagel', price=110))
menu('eighty','saint-pierre', 'fish') # 3 위치 인자
print(menu('eighty','saint-pierre', 'fish'))
menu('hundred', wine='saint-pierre') # 1 위치 인자, 1 키워드 인자
print(menu('hundred', wine='saint-pierre'))

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

# 호출 불가능
menu() # price에 인자가 할당이 안됨
menu(price=100, 'saint-pierre') # 키워드 인자 할당 후, 위치 인자
menu(100, price=120) # 같은 변수에 두 번 할당
menu(main='cream pasta') # 정의되지 않은 매개변수

In [56]:
def echo(anything):
    'echo returns its input argument'
    return anything

help(echo)
print(echo('hahaha'))

def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

help(print_if_true)
print_if_true('hahaha', True)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

hahaha
Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.

hahaha